/* Main component wrapper */

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:focus {outline: none;}
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero{
    display:inline-block;
	position:relative; 
	padding-left:2em;
	font-size: 4em;
	margin-bottom: 4px !important;
	margin-left: -1em !important;
}

.end{
    position:absolute; 
	left:32px; 
	bottom:-10px; 
	width:2em
}
.end>img{
	width: 64px;
	height: 64px;
}

.small-margins{
	margin: 2px 0px 20px 0px;
}

a {
	outline: none;
	color: #f0f0f0;
	text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}

a:hover, a:focus {
	color: #fff;
}

.highZ{
	z-index: 9;
}

.hidden{
	transition: opacity 200ms, display 200ms;
	display: none;
	opacity: 0;
	display: none;
}

.morpher{
	scale: 1.5;
}

.container {
	height: 100vh;
	min-height: 665px;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

.context{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	/* height: 50vh; */
	width: 90vw;
	text-align: center;
}


.component {
	position: relative;
	z-index: 1;
	width: 300px;
	height: 500px;
	margin: 0 auto;
}

.morph__button {
	fill: #fff;
}

.button {
	font-weight: bold;
	position: absolute;
	bottom: -106px;
	left: 20px;
	width: calc(100% - 40px);
	height: 60px;
	padding: 0;
	text-align: center;
	color: #00a7e7;
	border: none;
	background: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scale: 1.5;
}

.button:hover,
.button:focus {
	outline: none;
	color: darkslategrey;
}

.button--listen {
	pointer-events: none;
}

.button--close {
	z-index: 10;
	top: 0px;
	right: 0px;
	left: auto;
	width: 40px;
	height: 40px;
	padding: 10px;
	color: #55656c;
}

.button--close:hover,
.button--close:focus {
	color: #ddd;
}

.button--hidden {
	pointer-events: none;
	opacity: 0;
	display: none;
}

.button__content {
	position: absolute;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.button__content--start {
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.2em;
	text-indent: 1px;
	letter-spacing: 1px;
	-webkit-transform: translate3d(0, -25px, 0);
	transform: translate3d(0, -25px, 0);
	-webkit-transition-timing-function: cubic-bezier(0.8, -0.6, 0.2, 1);
	transition-timing-function: cubic-bezier(0.8, -0.6, 0.2, 1);
}

.button__content--listen {
	font-size: 1.75em;
	line-height: 64px;
	bottom: 0;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: 0 0 0 -30px;
	border-radius: 50%;
	-webkit-transform: translate3d(0, 25px, 0);
	transform: translate3d(0, 25px, 0);
	-webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

.button__content--listen::before,
.button__content--listen::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.button--animate .button__content--listen::before,
.button--animate .button__content--listen::after {
	-webkit-animation: anim-ripple 1.2s ease-out infinite forwards;
	animation: anim-ripple 1.2s ease-out infinite forwards;
}

.button--animate .button__content--listen::after {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.button--start .button__content--start,
.button--listen .button__content--listen {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.player {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	scale:1.5;
}

.player--hidden {
	pointer-events: none;
	opacity: 0;
	display: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.player__cover {
	margin-top: -1px;
	/* for mobile Safari bug (white line of SVG visible) */
	border-radius: 5px 5px 0 0;
}

.player__meta {
	padding: 0 1em 1em;
	text-align: center;
}

.song__title {
	font-size: 1.15em;
	margin: 1.25em 0 0.05em 0;
	color: #55656c;
}

.song__details {
	font-size: 0.64em;
	max-height: 48px;
	overflow-y: scroll;
	margin: 0;
	color: #bbc1c3;
}

.song__details-description,
.song__details-name {
	color: #adb5b8;
}

.song__lyrics {
	color: #55656c;
	height:280px;
	background-color: white;
	overflow-y: scroll;
}

.song__lyrics>p{
	margin: 4px;
	font-size: x-small;
	text-align: start;
}

.song__lyrics>p>sup{
	margin: 2px;
	color: darkslateblue;
	text-decoration: dotted;
}

.player__controls {
	font-size: 1.15em;
	margin: 1em 0 0 0;
}

.player__control {
	margin: 0 0.85em;
	padding: 0;
	vertical-align: middle;
	color: #adb5b8;
	border: 0;
	background: none;
}

.player__control:hover,
.player__control:focus {
	color: #00a7e7;
	outline: none;
}

.player__control--play {
	font-size: 1.75em;
}

.notes {
	position: absolute;
	z-index: -1;
	bottom: -106px;
	left: 50%;
	width: 100px;
	height: 60px;
	margin: 0 0 0 -50px;
}

.note {
	font-size: 2.8em;
	position: absolute;
	left: 50%;
	width: 1em;
	margin: 0 0 0 -0.5em;
	opacity: 0;
	color: rgba(255, 255, 255, 0.75);
}

.note:nth-child(odd) {
	color: rgba(0, 0, 0, 0.1);
}

.note:nth-child(4n) {
	font-size: 2em;
}

.note:nth-child(6n) {
	color: rgba(255, 255, 255, 0.3);
}

.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.icon {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon--github:before{
	content: "\f296"; 
	font: var(--fa-font-brands);
}
.icon--refresh:before {
	font: var(--fa-font-solid);
	content: "\f021";
}
.icon--ellipsis:before {
	font: var(--fa-font-solid);
	content: "\f141";
}
.icon--download:before {
	font: var(--fa-font-solid);
	content: "\f56d";
}
.icon--stop:before {
	font: var(--fa-font-solid);
	content: "\f04d";
	color: red;
}
.icon--microphone:before {
	font: var(--fa-font-solid);
  	content: '\f130';
}

.icon--cross:before {
	font: var(--fa-font-solid);
	content: "\f00d";
}
.icon--note1:before {
	font: var(--fa-font-solid);
	content: "\f001";
}
.icon--note2:before {
	font: var(--fa-font-solid);
	content: "\f569";
}
.icon--note3:before {
	font: var(--fa-font-solid);
	content: "\f7a6";
}
.icon--note4:before {
	font: var(--fa-font-solid);
	content: "\f004";
}
.icon--note5:before {
	font: var(--fa-font-solid);
	content: "\f621";
}
.icon--note6:before {
	font: var(--fa-font-solid);
	content: "\f863";
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: #454e56;
    color: #b2becd;
    font-weight: 600;
    margin: .25em .1em;
	cursor: pointer;
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}

.tag-bg {
    background: #12181b;
}

.tag-editable {
    color: #ffda5d;
    background: #3879ab
}

.tag-genre {
    color: #fff;
    background-image: linear-gradient(90deg,#ff8901,#db1d5f);
    font-weight: 700
}

.tag-scale {
    color: #fff;
    background: #e10097
}

.tag-beats {
    color: #fff;
    background: #a481d5
}

.tag-theme {
    background: #33a668;
    color: #f8d845
}

.tag-mood {
    background: #dc0530;
    color: #fff
}




