@media only screen and (max-width: 640px) {
    .tag-lg {
        font-size: 0.75em;
        border-radius: 4px;
    }

    .morpher{
        scale: 1.2;
    }

    .button {
        bottom: -40px;
        scale: 1.2;
    }
    
    .player{
        scale: 1.2;
    }

    .song__title {
        font-size: 0.75em;
    }
    
    .song__details {
        font-size: 0.625em;
    }

    .notes {
        bottom: -40px;
    }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes anim-ripple {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(3, 3, 1);
		transform: scale3d(3, 3, 1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-ripple {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(3, 3, 1);
		transform: scale3d(3, 3, 1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
